@font-face {
  font-family: "Robotobold";
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
       url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotoregular";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
       url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotolight";
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"),
       url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreyaregular";
  src: url("../fonts/alegreya-regular-webfont.woff2") format("woff2"),
       url("../fonts/alegreya-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}