
// Fonts
$regular-font: Robotoregular, serif, sans-serif;
$regular-font-bold: Robotobold, serif, sans-serif;
$regular-font-light: Robotolight, serif, sans-serif;
$title-font-regular: Alegreyaregular, serif, sans-serif;

// Font sizes
$font-size-primal: 3.125rem;
$font-size-big: 3.625rem;
$font-size-small: 2.8125rem;
$font-size-name: 4.125rem;

// Colors
$color-primal: #313131;
$color-background: #2c3e50;
$color-border: #e64c3c;
$color-contrast: #f0f4f8;